body {
  margin: 0;
}

h1.title {
  text-align: center;
}

div.left-side {
  background-color: #b2b2b2;
  float: left;
  width: 25%;
}

div.right-side {
  background-color: #d9d9d9;
  margin-left: 10px;
  float: right;
  width: 65%;
}

div.navbar-div {
  background-color: #000000;
}

ul.navbar {
  list-style-type: none;
  overflow: hidden;
}

ul.navbar li a{
  float: left;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #ffffff;
  color: #000000;
}

.first-word {
  color: red;
}

.big {
  font-size: 48px;
}

.clearfix {
  clear: both;
}
